*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rowdies', cursive;
}
.login-area{
    padding: 20%  0;
    width: 400px;
    margin: auto;
    padding: 20px;    
    background-color: #25232A ;
    color: azure;
}
#transaction-area{
    display: none;
}
.deposit{
    background: blue;
}